*{

}

td {
    background-color: #e6edec;
    border: 1px solid black;
    }

th,
  td {
  font-weight: bold;
  border: 0.5px solid black;
  padding: 10px;
  text-align: center;
  border-radius: 5px;

   }

td {
  font-weight: lighter;
    }

tr {
  border-radius: 20px;
}


table {
  position: absolute;
    border: 2px solid black;
    border-radius: 10px;
    padding:10px;
    top:200px;
    left:440px;
}

.title{
  position:absolute;
  top: 100px;
  left: 670px;
  font-size: 34px;
  font-weight: bold;
}
